button {
  -webkit-app-region: no-drag;
}

html, body {
  background: #4a4a4a !important;
  font-size: 14px;
}

header {
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #292929;
  -webkit-app-region: drag;
  position: relative;
}

header button {
  position: relative;
  left: 5px;
}

.head-btn {
  width: 10px;
  height: 13px;
  border-radius: 100px;
  border: 0;
}

.head-btn:focus {
  outline: 0 !important;
}

.head-btn:hover {
  opacity: 0.75;
}

.small-yellow {
  background-color: #ffb900;
}

.small-red {
  background-color: red;
}

.small-green {
  background-color: lime;
}

.label {
  color: #FFF;
  margin-bottom: : 10px;
}

.title {
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
}

.hidden {
  display: none;
}
